@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


body {
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}
ul.dropdown-menu>li:first-child>a {
  color: white;
  background-color: #da8350;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main {
  float: left;
  width: 78%;
}

div.sidebar{
  color: #da8350;
  float: right;
}

aside {
  padding: 1rem;
 
  text-align: center;
}

aside.categories {
  background-color: rgb(253, 240, 221);
}

aside.categoriesDrinks {
  background-color: rgb(199, 253, 204);
}

aside.ingredients {
  background-color: rgb(250, 217, 167);
}

aside.ingredientsDrinks {
  background-color: rgb(196, 230, 150);
}

aside.meals {
  background-color: rgb(251, 199, 121);
}

aside.drinks {
  background-color: rgb(197, 212, 104);
}

li {
  display: inline;
}
a {
  color: #da8350;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #da8350;
  text-decoration: underline;
}
.meal-photo-text {
  display : flex;
}


.App-logo-faster,
.nav-link,
.dropdown-toggle.show,
.nav-link:hover,
.nav-link:focus {
  color: rgb(218, 131, 80);
}

.nav,
.nav-item {
  background-color: rgb(250, 250, 151);
}

.nav-item {
  width: 33vw;
}

.card {
  flex-flow: nowrap
}

.card-body {
  background-image: url("./img/cahier.png");
  
}

.card-text {
  line-height: 2.3rem;
  margin-top: 2rem;
}

.card-title.small-card {
  margin-top: 0.5rem;
}
.App-logo {
  margin: 10px;
  pointer-events: none;
}


.vignette-photo {
  width: 50%;
  background-color: #daeb5c;
}

.ing-list,
.ing-list h5{
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
}

.ing-list-25 { 
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
}
.infos {
  display: flex;
  flex-wrap: wrap;
}
.vignette-photo-ing {
  width: auto;
}

.vignette-ing,
.vignette-ing .card-body,
.vignette-photo-ing {
  background: hsl(23, 59%, 87%);
}

.flag{float:right;height:64px;width:64px;vertical-align:text-top;line-height:64px; background-image: url("./img/flags32.png");}

.American{background-position:0 calc(-7328*2px);}
.British{background-position:0 calc(-2912*2px);}
.Canadian{background-position:0 calc(-1792*2px);}
.Chinese{background-position:0 calc(-2080*2px);}
.Croatian{background-position:0 calc(-3488*2px);}
.Dutch{background-position:0 calc(-5504*2px);}
.Egyptian{background-position:0 calc(-2560*2px);}
.French{background-position:0 calc(-2848*2px);}
.Greek{background-position:0 calc(-3264*2px);}
.Indian{background-position:0 calc(-3712*2px);}
.Irish{background-position:0 calc(-3616*2px);}
.Italian{background-position:0 calc(-3840*2px);}
.Jamaican{background-position:0 calc(-3904*2px);}
.Japanese{background-position:0 calc(-3968*2px);}
.Kenyan{background-position:0 calc(-4000*2px);}
.Malaysian{background-position:0 calc(-5280*2px);}
.Mexican{background-position:0 calc(-5248*2px);}
.Moroccan{background-position:0 calc(-4704*2px);}
.Polish{background-position:0 calc(-5888*2px);}
.Portuguese{background-position:0 calc(-5984*2px);}
.Russian{background-position:0 calc(-6208*2px);}
.Spanish{background-position:0 calc(-2656*2px);}
.Thai{background-position:0 calc(-6912*2px);}
.Tunisian{background-position:0 calc(-7040*2px);}
.Turkish{background-position:0 calc(-7104*2px);}
.Unknown{display:inline-block;height:32px;width:32px;vertical-align:text-top;line-height:32px; background-image: url("./img/flags32.png");}
.Vietnamese{background-position:0 calc(-7584*2px);}



footer {
  width: 100vw;
  display: block;
  position: relative;
  bottom: 0;
  background-color: rgb(218, 131, 80);
}

footer, 
footer a {
  color: rgb(255, 255, 255);
    text-decoration: none;
}


.socials {
    width: 10%;
}

@media screen and  (max-width: 767px) { 
  .sidebar{
    display: none;
  }

  .vignette,
  .vignette-photo {
    width: 100vw;
  }
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 1.5rem;
    animation: App-logo-spin infinite 15s linear;
  }
  .App-logo-faster {
    width: 2rem;
    animation: App-logo-spin infinite 1s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}