@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

:root{
  --yellow: #f7f4e9;
  --yellow-1: rgb(250, 250, 151);
  --orange-1: #da8350;
  --orange-2: rgb(253, 240, 221);
  --orange-3: rgb(250, 217, 167);
  --orange-4: rgb(251, 199, 121);
  --orange-5: rgb(255, 96, 4);
  --orange-6: hsl(23, 59%, 87%);
  --green-1: rgb(199, 253, 204);
  --green-2: #15550a;
  --green-3: rgb(196, 230, 150);
  --green-4: rgb(197, 212, 104);
  --green-5: #daeb5c;
  --blue: #2374e1;
  --shadow: rgb(0 0 0 / 13%);
}

body { background-color:  var(--yellow);
  margin: 0;
  font-family: 'Fuzzy Bubbles', cursive;
}

header {
  display: flex;
  flex-wrap: wrap;
  
}
h1 {
  font-size: 250%;
}

.dropdown-menu {
  background-color: #ffffffbd;
}

ul.dropdown-menu>li:first-child>a {
  color: white;
  background-color: var(--orange-1);
}

main {
  float: left;
  width: 78%;
}

.sidebar-home,
div.sidebar{
  color:  var(--orange-1);
  float: right;
}

aside {
  padding: 1rem;
 
  text-align: center;
}

.bg-meal,
aside.categories {
  background-color:  var(--orange-2);
}

.bg-drink,
aside.categoriesDrinks,
aside.categoriesDrinks>*>* {
  background-color:  var(--green-1);
  color:  var(--green-2);
}

aside.ingredients {
  background-color:  var(--orange-3);
}

aside.ingredientsDrinks,
aside.ingredientsDrinks>*>* {
  background-color:  var(--green-3);
  color:  var(--green-2);
}

aside.meals {
  background-color:  var(--orange-4);
}

aside.drinks,
aside.drinks>*>* {
  background-color:  var(--green-4);
  color:  var(--green-2);
}

.accordion-item {
  background-color: var(--yellow-1);
}

.accordion-button {
  font-family: 'Fuzzy Bubbles', cursive;
}

.accordion-button.meal {
  color:  var(--orange-1);
}

.accordion-button.drink {
  color:  var(--green-2);
}

.accordion-button.meal.collapsed {
  background-color:  var(--orange-2);
  box-shadow: inset 0 -1px 0  var(--shadow);
}

.accordion-button.drink.collapsed {
background-color:  var(--green-1);
box-shadow: inset 0 -1px 0  var(--shadow);
}

.accordion-button.meal:not(.collapsed) {
    background-color:  var(--orange-3);
    box-shadow: inset 0 -1px 0  var(--shadow);
}

.accordion-button.drink:not(.collapsed) {
  background-color:  var(--green-3);
  box-shadow: inset 0 -1px 0  var(--shadow);
}

li {
  display: inline;
}

a {
  color:  var(--orange-1);
  text-decoration: none;
}

a:hover,
a:focus {
  color:  var(--orange-1);
  text-decoration: underline;
}

.meal-photo-text {
  display : flex;
}

.card {
  flex-flow: nowrap
}

.App-logo-faster,
.nav-link,
.dropdown-toggle.show,
.nav-link:hover,
.nav-link:focus {
  color:  var(--orange-5);
}

.nav {
  width: 100vw;
  min-height: 15vh;
  background-image: url("./img/header-home.jpg");background-size: cover;
}

.nav-item {
 margin-right: 10vw;
}

.card-body {
  background-image: url("./img/cahier.png");
  height: auto;
}

.card-body.ing-card {
  height: 100%;
}

.card-text {
  line-height: 2.3rem;
  margin-top: 2rem;
}

.card-title.small-card {
  margin-top: 0.5rem;
}

.btn-lg {
  padding: 0;
}

.App-logo {
  color: var(--orange-1);
  margin: 10px;
  pointer-events: none;
}

.card.meal>*{
  width:50%;
}

.vignette-photo {
  width: 50%;
  background-color:  var(--green-5);
}

.ing-list,
.ing-list h5 {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
}

.ing-list-25 { 
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  height: calc(50vh - 16px);
}
.ing-list-25>iframe { 
  width: 100%;
}
.infos {
  display: flex;
  flex-wrap: wrap;
}

.vignette-photo-ing {
  width: auto;
}

.vignette-ing,
.vignette-ing.card-body {
  background:  var(--green-5);
}

.flag{float:right;height:64px;width:64px;vertical-align:text-top;line-height:64px; background-image: url("./img/flags32.png");}

.American{background-position:0 calc(-7328*2px);}
.British{background-position:0 calc(-2912*2px);}
.Canadian{background-position:0 calc(-1792*2px);}
.Chinese{background-position:0 calc(-2080*2px);}
.Croatian{background-position:0 calc(-3488*2px);}
.Dutch{background-position:0 calc(-5504*2px);}
.Egyptian{background-position:0 calc(-2560*2px);}
.French{background-position:0 calc(-2848*2px);}
.Greek{background-position:0 calc(-3264*2px);}
.Indian{background-position:0 calc(-3712*2px);}
.Irish{background-position:0 calc(-3616*2px);}
.Italian{background-position:0 calc(-3840*2px);}
.Jamaican{background-position:0 calc(-3904*2px);}
.Japanese{background-position:0 calc(-3968*2px);}
.Kenyan{background-position:0 calc(-4000*2px);}
.Malaysian{background-position:0 calc(-5280*2px);}
.Mexican{background-position:0 calc(-5248*2px);}
.Moroccan{background-position:0 calc(-4704*2px);}
.Polish{background-position:0 calc(-5888*2px);}
.Portuguese{background-position:0 calc(-5984*2px);}
.Russian{background-position:0 calc(-6208*2px);}
.Spanish{background-position:0 calc(-2656*2px);}
.Thai{background-position:0 calc(-6912*2px);}
.Tunisian{background-position:0 calc(-7040*2px);}
.Turkish{background-position:0 calc(-7104*2px);}
.Unknown{display:inline-block;height:32px;width:32px;vertical-align:text-top;line-height:32px; background-image: url("./img/flags32.png");}
.Vietnamese{background-position:0 calc(-7584*2px);}



footer {
  width: 100vw;
  display: block;
  position: relative;
  bottom: 0;
  background-color:  var(--orange-5);
}

footer, 
footer a {
  color: white;
    text-decoration: none;
}

.footer-drinks {
  background-color:  var(--green-2);
}

.footer-socials {
  background-color:  var(--blue);
}

.footer-legals {
  background-color: var(--orange-4);
}
.socials {
    width: 10%;
}

@media screen and  (max-width: 767px) { 
  main {
    width: 100%;
    flex-wrap: wrap;
  }

  .sidebar{
    display: none;
  }

  .card.meal>*{
    width:100%;
  }

  .card {
    flex-flow: wrap;
  }

  .vignette,
  .vignette-photo {
    width: 100%;
    height: auto;
  }
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 1.5rem;
    animation: App-logo-spin infinite 15s linear;
  }
  .App-logo-faster {
    width: 2rem;
    animation: App-logo-spin infinite 1s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}